.container {
  width: min(100% - 3rem, 150rem);
}

.center {
  margin-inline: auto;
}

/* margin and padding */
$base: 1rem;

$sizes: (
  "1": $base * 0.25,
  "2": $base * 0.5,
  "3": $base * 0.75,
  "4": $base * 1,
  "5": $base * 1.25,
  "6": $base * 1.5,
  "7": $base * 1.75,
  "8": $base * 2,
  "9": $base * 2.25,
  "10": $base * 2.5,
  "11": $base * 2.75,
  "12": $base * 3,
  "13": $base * 3.25,
  "14": $base * 3.5,
  "15": $base * 3.75,
  "16": $base * 4,
  "auto": "auto",
);

$directions: (
  "x": "inline",
  "y": "block",
  "l": "inline-start",
  "r": "inline-end",
  "t": "block-start",
  "b": "block-end",
);

@each $size, $sizeValue in $sizes {
  .gap {
    &-#{$size} {
      gap: $sizeValue;
    }
  }
  .p {
    &-#{$size} {
      padding: $sizeValue;
    }
    @each $dir, $dirValue in $directions {
      &#{$dir}-#{$size} {
        padding-#{$dirValue}: #{$sizeValue};
      }
    }
  }
  .m {
    &-#{$size} {
      margin: $sizeValue;
    }
    @each $dir, $dirValue in $directions {
      &#{$dir}-#{$size} {
        margin-#{$dirValue}: #{$sizeValue};
      }
    }
  }
}

$displays: block, none, inline, inline-block, flex, grid;

@each $display in $displays {
  .#{$display} {
    display: #{$display};
  }
}

$positions: relative, absolute, fixed;

@each $position in $positions {
  .#{$position} {
    position: #{$position};
  }
}

// dynamic colors

// $colors: (
//   "red": hsl(7, 99%, 70%),
//   "yellow": hsl(51, 100%, 49%),
//   "green--dark": hsl(167, 40%, 24%),
//   "blue": hsl(198, 62%, 26%),
//   "green--light": hsl(168, 34%, 61%),
//   "neutral1": hsl(212, 27%, 19%),
//   "neutral2": hsl(213, 9%, 39%),
//   "neutral3": hsl(232, 10%, 55%),
//   "neutral4": hsl(210, 4%, 67%),
//   "white": hsl(0, 0%, 100%),
// );

// @each $colorName, $colorValue in $colors {
//   .bg {
//     &-#{$colorName} {
//       background-color: $colorValue;
//     }
//   }
//   .text {
//     &-#{$colorName} {
//       color: $colorValue;

//       &:is(:link, :visited) {
//         color: $colorValue;
//       }
//     }
//   }
// }

// dynamic fonts

// $textSizes: (
//   "sm": clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem),
//   "md": clamp(1.35rem, calc(1.24rem + 0.48vw), 1.67rem),
//   "lg": clamp(1.62rem, calc(1.41rem + 0.9vw), 2.22rem),
//   "xl": clamp(2.33rem, calc(1.76rem + 2.43vw), 3.95rem),
//   "2xl": clamp(7.01rem, calc(2.07rem + 5.49vw), 3.36rem),
// );

// @each $textSize, $textValue in $textSizes {
//   .text {
//     &-#{$textSize} {
//       font-size: #{$textValue};
//     }
//   }
// }
